*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #171f24;
}

.app{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header h1{
    margin: 50px, 0px, 30px;
    text-align: center;
    font-size: 50px;
    color: crimson;
}

header p{
    font-size: 32px;
    color: #fff;
}

.pads{
    background: #fff;
    width: 100%;
    display: flex;
}

.pads > div{
    height: 100px;
    width: 100px;
    flex: 1;
}

.pad1{
    background: #b5eb5a;
}
.pad2{
    background: #242ce9;
}
.pad3{
    background: #f56d65;
}
.pad4{
    background: #bb6315;
}
.pad5{
    background: #c494be;
}
.pad6{
    background: #f1a90e;
}


.visual > div{
    position: absolute;
    bottom: 0%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transform: scale(1);
    z-index: -1;
}

@keyframes jump{
    0%{
        bottom: 0%;
        left: 20%;
    }

    50%{
        bottom: 50%;
        left: 50%;
    }

    100%{
        bottom: 0%;
        left: 80%;
    }
}